<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>

        <mapping class="gd.web.entity.UserEntity" />
        <mapping class="gd.web.entity.OutStreamEntity" />
        <mapping class="gd.web.entity.InStreamEntity" />
        <mapping class="gd.web.entity.ChartDataEntity" />
        <mapping class="gd.web.entity.StationEntity" />
        <mapping class="gd.web.entity.ParkEntity" />

    </session-factory>
</hibernate-configuration>